<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabItemsMetaData</key>
	<array>
		<dict>
			<key>iconpath</key>
			<string>icons/house28</string>
			<key>title</key>
			<string>home</string>
			<key>url</key>
			<string>https://prime.heyazine.com/top</string>
		</dict>
		<dict>
			<key>iconpath</key>
			<string>icons/observation3</string>
			<key>title</key>
			<string>search</string>
			<key>url</key>
			<string>https://prime.heyazine.com/search</string>
		</dict>
		<dict>
			<key>iconpath</key>
			<string>icons/man93</string>
			<key>title</key>
			<string>proposing</string>
			<key>url</key>
			<string>https://prime.heyazine.com/proposing_items</string>
		</dict>
		<dict>
			<key>iconpath</key>
			<string>icons/heart56</string>
			<key>title</key>
			<string>fav</string>
			<key>url</key>
			<string>https://prime.heyazine.com/favorites</string>
		</dict>
		<dict>
			<key>iconpath</key>
			<string>icons/information27</string>
			<key>title</key>
			<string>info</string>
			<key>url</key>
			<string>https://prime.heyazine.com/faq</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>jp.dorigami.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
